@model Store.Domain.Entities.Product

@{
    ViewBag.Title = "Редактирование";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Редактирование «@Model.Name»</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.ProductId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                switch (property.PropertyName)
                {
                    case "ProductId":
                    case "ImageData":
                        break;
                    default:
                        <div class="form-group">
                            <label>@(property.DisplayName ?? property.PropertyName)</label>
                            @if (property.PropertyName == "Description")
                            {
                                @Html.TextArea(property.PropertyName, null,
                                     new { @class = "form-control", rows = 5 })
                            }
                            else
                            {
                                @Html.TextBox(property.PropertyName, null,
                                     new { @class = "form-control" })
                            }
                            @Html.ValidationMessage(property.PropertyName)
                        </div>
                        break;
                }
            }

        <div class="form-group">

            <div class="row">
                <label>Изображение</label>
                <a class='btn'>
                    <input id="imageBtn" type="file" name="Image" size="40"/>
                </a>
                <span class='label label-info' id="upload-file-info"></span>
            </div>
            <div class="row">
                @if (Model.ImageData == null)
                {
                    <div class="form-control-static">Нет Изображения</div>
                }
                else
                {
                    @Html.Raw("<img class='img-thumbnail' style='width:150px; height:150px;' src=\"data:image/jpeg;base64,"
                          + Convert.ToBase64String(Model.ImageData) + "\"")
                }
            </div>
        </div>
        </div>

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отменить изменения и вернуться к списку", "Index", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>


<script>
    $("#imgBtn").onchange = function () {
        $("#upload-file-info").html($(this).val());
    }
</script>

